.containerAbout{
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 4em;
    padding: 1em;
}

.fotoContainerAbout{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}

.fotoAbout{
   border-radius: 9px;
   width:100%;
   height: 100%;
   max-height: 80vh;
}
