.blogsContainer{
   
    margin: 1em;
    margin-top: 6em;
}

.explainContainer{
    display: block;
    justify-content: center;
    align-items: center;
}
.originBlogTitle{
    font-size: 41px;
   
}
.containerInputExplainContainer{
    margin-top: 1em;
    margin-bottom: 1em;
}
.inputExplainContainer{
    border: none;
    padding: 0.5em;
    border-radius: 9px;
    width:90%
}
/*estilos body-style-1*/
.originBlog{
    padding: 2em;
    border-radius: 9px;
    background: rgb(242, 242, 242);
}
.submitExplainContainer{
    border: none;
    width: 140px;
    height: 40px;
    border-radius: 9px;
    background: black;
    color: white;
}
.footerContainer{
    padding: 1em;
    background: rgb(242, 242, 242);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

/*estilos body-style-2*/
.originBlogDarkTheme{
    padding: 2em;
    border-radius: 9px;
    background: rgb(51, 51, 51);
}
.submitExplainContainerDarkTheme{
    border: none;
    width: 140px;
    height: 40px;
    border-radius: 9px;
    background: rgb(255, 255, 255);
    color: black;
}
.footerContainerDarkTheme{
    padding: 1em;
    background: rgb(51, 51, 51);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

/*estilos body-style-3*/


.originBlogEarthTheme{
    padding: 2em;
    border-radius: 9px;
    background: rgb(255, 236, 217);
}
.submitExplainContainerEarthTheme{
    border: none;
    width: 140px;
    height: 40px;
    border-radius: 9px;
    background: rgb(227, 138, 32);
    color: white;
}
.footerContainerEarthTheme{
    padding: 1em;
    background: rgb(255, 236, 217);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}


/*estilos body-style-4*/
.originBlogOceanTheme{
    padding: 2em;
    border-radius: 9px;
    background: rgb(238, 241, 243);
}
.submitExplainContainerOceanTheme{
    border: none;
    width: 140px;
    height: 40px;
    border-radius: 9px;
    background: rgb(21, 86, 172);
    color: white;
}
.footerContainerOceanTheme{
    padding: 1em;
    background: rgb(238, 241, 243);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.recentPostContainer{
    margin-top: 3em ;
    display: block;
    justify-content: center;
    align-items: center;
}
.fotoOriginTheme{
    border-radius: 9px;
    width:100%;
    height: 100%;
}
.recentPostTitle{
    font-size: 38px;
}
.footerTitle{
    font-weight: bold;
    font-size: large;
}

