@media(min-width:1200px){
    .footerWeb{
        max-width: 70vw;
        margin: 0 auto;
    }
    .companyPageContainer{
        margin-top: 4em;
        padding: 1em;
        max-width: 60vw;
        margin: 0 auto;
    }
}
.companyPageContainer{
    margin-top: 4em;
    padding: 1em;
}