.landingContainer{
    margin-bottom: 2em;
    padding: 1em;
}

.fotoLanding{
    border-radius: 20px;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease; 
    -webkit-box-shadow: 10px 10px 34px 0px rgba(0,0,0,1);
    -moz-box-shadow: 10px 10px 34px 0px rgba(0,0,0,1);
    box-shadow: 10px 10px 34px 0px rgba(0,0,0,1);
 }


 .fotoLanding:hover {
    transform: translateY(-20px);
    -webkit-box-shadow: 10px 10px 34px 0px rgba(0,0,0,1);
    -moz-box-shadow: 10px 10px 34px 0px rgba(0,0,0,1);
    box-shadow: 10px 10px 34px 0px rgba(0,0,0,1);
    
}

 .landingTitle{
    text-align: center;
 }

.linkLandingClassic{
    text-decoration: none;
    color: black;
}
.linkLandingDark{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.linkLandingEarth{
    text-decoration: none;
    color: rgb(94, 69, 54);
}
.linkLandingOcean{
    text-decoration: none;
    color: black;
}

@media (min-width: 1200px) {
    .containerLandingWeb {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
      }
      
      .gridContainer {
        width: 100%;
      }

      .landingContainerImage{
        max-width: 20vw;
       
      }
      .fotoLanding{
        margin-top: 1em;
        border-radius: 20px;
        width: 100%;
        height: 100%;
        transition: transform 0.3s ease; 
        -webkit-box-shadow: 10px 10px 34px 0px rgba(0,0,0,1);
        -moz-box-shadow: 10px 10px 34px 0px rgba(0,0,0,1);
        box-shadow: 10px 10px 34px 0px rgba(0,0,0,1);
     }
    
    
     .fotoLanding:hover {
        transform: translateY(-20px);
        -webkit-box-shadow: 10px 10px 34px 0px rgba(0,0,0,1);
        -moz-box-shadow: 10px 10px 34px 0px rgba(0,0,0,1);
        box-shadow: 10px 10px 34px 0px rgba(0,0,0,1);
        
    }
}