@media(min-width:1200px){
    .footerWeb{
       
            max-width: 70vw;
            margin: 0 auto;
           
    }
    .fotoLandingPage1{
        border-radius: 9px;
        width:100%;
        height: 100%;
        max-width: 600px;
     }
     .landingContentPage1Container{
        margin-top: 4em;
        padding: 1em;
        max-width: 60vw;
        margin: 0 auto;
    }
}
.landingContentPage1Container{
    margin-top: 4em;
    padding: 1em;
}
.fotoContainerLandingPage1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
    margin-top: 1em;
}

.fotoLandingPage1{
   border-radius: 9px;
   width:100%;
   height: 100%;
   max-height: 80vh;
}
.dontReinventTitle{
    font-size: 42px;
    font-weight: bold;
}
.getStartedButtonClassic{
    background:black;
    height: 50px;
    width: 150px;
    border:none;
    border-radius: 20px;
    margin-right: 1em;
    color:white;
}
.getStartedButtonDark{
    background:rgb(255, 255, 255);
    height: 50px;
    width: 150px;
    border:none;
    border-radius: 20px;
    margin-right: 1em;
}
.getStartedButtonEarth{
    background: rgb(227, 138, 32);
    height: 50px;
    width: 150px;
    border:none;
    border-radius: 20px;
    margin-right: 1em;
    color:white;
}
.getStartedButtonOcean{
    background: rgb(21, 86, 172);
    height: 50px;
    width: 150px;
    border:none;
    border-radius: 20px;
    margin-right: 1em;
}
.happyCustomerContainerClassic{
    margin-top: 1em;
    background: rgb(242, 242, 242);
    padding: 2em;
}
.happyCustomerContainerDark{
    margin-top: 1em;
    background: rgb(51, 51, 51);
    padding: 2em;
}
.happyCustomerContainerEarth{
    margin-top: 1em;
    background: rgb(255, 236, 217);
    padding: 2em;
}
.happyCustomerContainerOcean{
    margin-top: 1em;
    background: rgb(238, 241, 243);
    padding: 2em;
}