
.mainNav{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
#mainTitleContainer{
    display: flex;
    justify-content: left;
}

#mobileTitleContainer{
    display: flex;
    justify-content: left;
}

#navButtonsContainer{
    display: flex;
    justify-content: right;
}

#navButtons button{
border: none;
padding: 0.5em;
}

.inputSearch{
border:none;
background: none;
border-bottom: 2px solid white;

}
#myLinks{
margin-top: 3em;
background: rgba(0, 0, 0, 0.88);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(-1px);
height: 100vh;

}
#myLinks ul{

width: 100vw;
margin-left: -3em;

}
#myLinks ul li{
    list-style: none;
    text-align: center;
}
#myLinks ul li button{
    background: none;
    border: none;
    padding: 0.5em;
    font-size: large;
    
    }
#myLinks ul li button a{
text-decoration: none;
font-weight: bold;
font-size: 40px;
color: rgb(0, 255, 200);;
}
.mobileNav{
display: flex;
justify-content: center;

}
#mobileTitleContainer{
    position: fixed;
    left: 1em;
    font-size: 20px;
}

#navButtonOpenMobile{
border: none;
background: none;
position: absolute;
right: 1em;
margin-top: 1.3em;
color: rgb(0, 255, 200);;
}

.mobileNavbar {
    display: flex;
    flex-direction: column; 
    align-items: center;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw;
  }
  .webNavbar{
    justify-content: flex;
    padding: auto;
  }
  
  .inputSearch {
    display: flex;
    position: fixed; 
    right: 2em;

  }
